.conteiner{
    width: 1000px;
    position:relative;
    left:270px;
    top:100px;
}
thead{
    background-color:#77BFC7 ;
}
p{
    color: #77BFC7;
    font-size: 50px;
    position:relative;
    left:300px;
    bottom:20px;

}